<div class="card mb-3 product position-relative" style="min-height: 100%">
    <h4 class="card-title product__title">
        {{post.title}}
    </h4>
    {% include "store/includes/part_post/images.html" %}
    <div class="card-body ">
        <p class="card-text">
            {{post.body|truncatewords:50}} <br>
            <a href="{{post.get_absolute_url}}" style="text-decoration: none;">Read more...</a> <br>
        </p>
        <div class="d-flex justify-content-between " style="margin-top: 25px;">
            <p class="border-bottom border-success position-absolute translate-middle" style="width: fit-content; top :94%; left: 12%;">Price: <span class="product__price">{{post.price}}</span></p>
            <button data-id="{{post.pk}}" type="button" class="btn btn-secondary product__add-cart position-absolute translate-middle" style="width: 125px; top :94%; left: 80%; border-radius: 10px">Add</button>
        </div>

    </div>

</div>