<div class="card mb-3 product position-relative " style="min-height: 100%">
    <div class="d-flex justify-content-center align-items-center">
        <a class="d-flex justify-content-center" style="padding: 25px;">
            <img src="{{product.image.url}}" class="card-img-top " style="width: 300px; height: 225px" />
        </a>
        <h2 class="card-title ">
            You ordered {{product.title}}
        </h2>
    </div>
</div>
<button type="submit" class="btn btn-danger " style="float: right;"><a href="{% url 'post_list_url' %}" style="text-decoration: none; color: white">Back to the site</a></button>